/* форма обратной связи */
.callback-form {
  display: flex;
  gap: 16px;
}
.callback-form__inp {
  flex-basis: 288px;
}

@media (max-width: 740px) {
  .callback-form {
  flex-direction: column;
  }
  .callback-form__inp {
  flex-basis: initial;
  }

}