.flexcard {
  background-color: rgb(217, 213, 213);
}

.flexcard__grid {
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  
}
.flexcard__item {
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
 
  width: 33.3333%;
}
.flexcard__card-1 {
  padding: 20px;
  min-height: 100%;
  background-color: white;

}
.fixcard__card-title {
  margin: 0;
}
.flexcard__desc {
 margin-bottom: 0;
}
.flexcard__card-2 {
  /* padding: 20px; */
  min-height: 100%;
  background-color: white;
}
.flexcard__card-2-prew {
  height: 200px;
background-image: url(/src/assets/Restonans/1.jpg);
background-size: cover;
}
.flexcard__card-2-body {
  padding: 20px;
}
.flexcard__desc-card-2 {
  font-size: 25px;
}

.flexcard__card-3 {
  /* padding: 20px; */
  min-height: 100%;
  background-color: white;
}
.flexcard__card-3-prew {
  height: 200px;
}
.flexcard__card-3-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.flexcard__card-3-body {
  padding: 20px;
}
.flexcard__desc-card-3 {
  font-size: 25px;
}

.flexcard__card-4 {
  /* padding: 20px; */
 height: 100%;
 display: flex;
 flex-direction: column;
  background-color: white;
}
.flexcard__card-4-prew {
  height: 200px;
}
.flexcard__card-4-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.flexcard__card-4-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.flexcard__desc-card-4 {
  font-size: 25px;
}
.flexcard__card-4-battom {
  margin-top: 15px;
}
.flexcard__card-4-data {
color: rgb(81, 80, 80);
}

.flexcard__card-5 {
  padding: 20px;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
background-image: url(/src/assets/Restonans/1.jpg);
background-size: cover;
color: white;
}

.flexcard__card-5-body {

}
.flexcard__desc-card-5 {
  font-size: 25px;
}



@media (max-width: 740px) {     



}