/* Карточка */
.card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.card__img {
  display: block;
  width: 100%;
  height: 217px;
  object-fit: cover;
}
.card__body {
  padding: 43px 36px;
}

.card__price-rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card__price {
  font-size: 20px;
  font-weight: 700;
}

.card__rating{
  margin-left: 20px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: normal;
}

.card__location {
  display: block;
  margin-bottom: 18px;
  font-size: 16px;
  color: #999;
}

/* Модификатор акции */
.card_promo {
  position: relative;
  outline: 5px solid #FFB800;
}

.card_promo::before {
  content: "АКЦИЯ";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #FFB800;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 30px;
  color: white;
  font-weight: 700;
}