/* Карточка */
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  /* overflow: hidden;  это свойство ограничивает пределами карточки, уже ничего нельзя будет вынести за пределы*/
  border: 1px solid var(--border-color);

}

.card__img {
  display: block;
  width: 100%;
  height: 217px;
  /* картинка вписывается в карточку и ей делаем закругления бордера */
  object-fit: cover; 
  /* чтобы изображение не сжималось: */
  flex-shrink: 0;
 border-top-right-radius: 13px;
 border-top-left-radius: 13px;

}
.card__body {
  padding: 15px;
  display: flex;
  /* чтобы высота карточек не зависила от строчек текста */
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;
}
.card__body-top {
  margin-bottom: 22px;
}

.card__price-rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card__price {
  font-size: 18px;
  font-weight: 700;
  color: var( --price-color);
}

.card__rating{
  margin-left: 20px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 700;
}

.card__location {
  display: block;
  margin-bottom: 18px;
  font-size: 16px;
  color: #999;
}

/* Модификатор акции */
.card_promo {
  position: relative;
  outline: 5px solid #FFB800;
}

.card_promo::before {
  content: "АКЦИЯ";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #FFB800;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 30px;
  color: white;
  font-weight: 700;
}
/* кнопка на всю ширину */
.card__btn {
  width: 100%;
}
/* модификатор - изображение на всю карточку */
.card_big {
  position: relative;
  border: none;
}
.card__img_big {
  height: 100%;
  border-radius: 12px;
}
.card__body_big {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 12px;
  color: white;
  align-items: flex-start;
}
.card__price_big {
  color: white;
}
.card__btn-big {
  width: initial;
  padding: 11px 47px;
}

@media (max-width: 740px) {     
  .card__img {
    height: 90px;
    object-fit: cover;
  }
  .card__body {
    padding: 10px;
 
  }
  .card__body-top {
    margin-bottom: 22px;
  }
  .card__title {  
    font-size: 14px;  
  } 
 
  .card__price {
    font-size: 14px;  
  } 
  
  .card__img_big {
    height: 100%; 
  }
  .card__btn-big {
    width: 100%;    
  }


}