
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--black-color);
  box-shadow: var(--box-shadow);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0%;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;  
  /* transition: opacity var(--transition-duration), background-color var(--transition-duration) ; */
}
.header__logo img {
  width: 10rem;
}

.header__logo span {
  font-size: var(--medium-fz);
  color: white;
}
/* .header__logo:focus-visible {
  opacity: .8 ;
} */
/* .header__logo:hover {
  background-color: var(--base-color-hover);
  border-radius: 50%; 
}
.header__logo:active {
  background-color: var(--base-color-active);
  border-radius: 50%; 
} */

/* menu */

.header__burger-icon {
  font-size: var(--medium-fz);
  color: white;
  cursor: pointer;
  display: none;
}

@media (max-width: 794px) {  
  /* .header__container {
    display: block;
  }
  .header__logo {
    display: flex;
    justify-content: center;  
  }
  .header__menu {
    padding: 20px 0;
    width: 100%;
    overflow: scroll;
  }
  .header__menu-list {    
    width: fit-content;
  } */
  .header__burger-icon {  
    display: block;
  }
  .header__navbar {
    position: fixed;
    left: 0;
    top: -120px;
    width: 100%;
    background-color: white;
    display: none;
  }
  .header__navbar:active {
    top: 0.2rem;
  }
  .header__navbar-list {
    flex-direction: column;
    padding: 2rem;
  }
  .header__navbar-list li {
    width: 100%;
    text-align: center;
  }
  .header__navbar-list li a {
    display: block;
    background-color: var( --base-color);
    padding: 1rem;
  }
  

   }