/* общие для всех секций */
.section {
  min-height: 100vh;
  padding: 0rem 8%;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 9rem;
}
.section .section__img {
  padding: 1rem;
  flex: 1 1 40rem;
  text-align: center;
}
.section .section__content {
  padding: 1rem;
  flex: 1 1 40rem;
}
.section .section__content h2 {
  font-size: var(--big-fz);
  line-height: 1;
}
.section .section__content p { 
  margin: 2rem 0rem;
  font-size: var(--small-fz);
}
.section__btn {
  padding: 0.7rem 3rem;
  font-size: var(--small-fz);
  color: white;
  background-color: var(--black-color);
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}
.section__btn:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.9);
}

@media (max-width: 794px) {    

   }