
.hero__container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
.hero__container::after {
  content: "";
  display: block;
  flex-basis: 470px;
  height: 375px;
  background-image: url(/src/assets/hero-photo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__content {
  flex-basis: 484px;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 34px;
}
.hero__desc {
  margin-top: 0;
  margin-bottom: 48px;
  max-width: 360px;
  font-size: 20px; 
}

@media (max-width: 740px) {  
  .hero__container {
    padding-top: 40px;
    padding-bottom: 40px;
  
  }
  .hero__container::after {
    display: none;
  }
  .hero__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
  }
}

