:root {
  --black-color: #263238;
  --base-color: #baef00;
  --base-color-hover: #D9FF56;
  --base-color-active: #a3d200;
  --border-color: #e3e3e3;
  --placeholder-color: #8d8d8d;
  --price-color: #6c6c6c;
  --transition-duration: .3s;

  --big-fz: calc(25px + (45 - 25) * ((100vw - 300px) / (1600 - 300)));
  --medium-fz: calc(20px + (35 - 20) * ((100vw - 300px) / (1600 - 300)));
  --small-fz: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));

  --box-shadow: 0 .5rem 1rem rgba(0, 00, .5);

}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  box-sizing: border-box;
}
a { 
  text-decoration: none;
}

body { 
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: var(--black-color);
}
img {
  width: 100%;
}

@media (max-width: 740px) {
 

}
